<div class="navigation-drawer" [ngClass]="{ 'navigation-drawer-folded': mainFolded, 'navigation-drawer-unfolded': !mainFolded }">

  <!-- folding control -->
  <div class="navigation-folding-control" (click)="toggleFolding()"><mat-icon>menu</mat-icon></div>

  <!-- seperator -->
  <div class="navigation-drawer-seperator"></div>

  <!-- title -->
  <div class="navigation-drawer-title">
    <!-- <app-person-item></app-person-item> -->
  </div>

  <!-- seperator -->
  <div class="navigation-drawer-seperator"></div>

  <!-- items -->
  <div class="navigation-drawer-items" autofocus>
    <!-- main -->
    <div class="navigation-drawer-main-items">
      <app-navigation-drawer-item
        *ngFor="let item of navigationDrawerMainItems; let i = index"
        [icon]="item.icon"
        [description]="item.description"
        [matTooltip]="mainFolded ? item.description : ''"
        [folded]="mainFolded"
        [selected]="isMainSelected(item.id)"
        (click)="mainNavigation(item.id, item.action)"
        (focusin)="onMainFocus(item.id)"
        (focusout)="onMainBlur()"
        tabindex={{i+1}}>
      </app-navigation-drawer-item>
    </div>

    <!-- sub -->
    <div class="navigation-drawer-sub-items">
      <app-navigation-drawer-item
        *ngFor="let item of getSubItemsForMainId(currentMainId); let j = index"
        [icon]="item.icon"
        [description]="item.description"
        [matTooltip]="item.description"
        [folded]="subFolded"
        [selected]="isSubSelected(item.id)"
        (click)="subNavigation(item.id, item.action)"
        (focusin)="onSubFocus(item.id)"
        (focusout)="onSubBlur()"
        tabindex={{j+1}}>
      </app-navigation-drawer-item>
    </div>
  </div>
</div>
