<div class='navigation-drawer' [ngClass]="{ 'navigation-drawer-folded': folded, 'navigation-drawer-unfolded': !folded }">

  <!-- folding control -->
  <div class='navigation-folding-control' (click)="toggleFolding()"><mat-icon>menu</mat-icon></div>

  <!-- seperator -->
  <div class='navigation-drawer-seperator'></div>

  <!-- title -->
  <div class='navigation-drawer-title'>
    <!-- <app-person-item></app-person-item> -->
  </div>

  <!-- seperator -->
  <div class='navigation-drawer-seperator'></div>

  <!-- items -->
  <div class='navigation-drawer-items'>
    <!-- main -->
    <div class='navigation-drawer-main-items'>
      <app-navigation-drawer-item
        *ngFor="let item of navigationDrawerItems; let i = index"
        [icon]="item.icon"
        [description]="item.description"
        [matTooltip]="folded ? item.description : ''"
        [folded]="folded"
        [selected]="isSelected(item.id)"
        (click)="navigation(item.id, item.navigationTarget)"
        tabindex={{i+1}}>
      </app-navigation-drawer-item>
    </div>

    <!-- sub -->
    <div class='navigation-drawer-sub-items'>
      <app-navigation-drawer-item
        *ngFor="let i of getSubItemsForCurrentId(); let j = index"
        [icon]="i.icon"
        [description]="i.description"
        [matTooltip]="i.description"
        [folded]="subFolded"
        [selected]="isSubSelected(i.id)"
        (click)="subNavigation(i.id, i.action)"
        tabindex={{j+1}}>
      </app-navigation-drawer-item>
    </div>
  </div>
</div>
